##date 日期函数
http://www.runoob.com/python/python-date-time.html
https://docs.python.org/3/library/datetime.html#module-datetime

In [16]:
####time  
import time

time.time() ##秒未单位的浮点 每个时间戳都以自从1970年1月1日午夜（历元）经过了多长时间来表示。

localtime = time.localtime(time.time())
print ("本地时间为 :", localtime)

#格式化
time.strftime("%Y-%m-%d %H:%M:%S", time.localtime())

1528886942.6432383

本地时间为 : time.struct_time(tm_year=2018, tm_mon=6, tm_mday=13, tm_hour=18, tm_min=49, tm_sec=2, tm_wday=2, tm_yday=164, tm_isdst=0)

'2018-06-13 18:49:02'

In [17]:
#calendar模块
import calendar

cal = calendar.month(2018, 2)
print(cal)

   February 2018
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28

In [18]:
cal.center

In [19]:
import datetime
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

#日期到string
now = datetime.datetime.now()
now.strftime('%Y-%m-%d %H:%M:%S')
#获取到字段
now.year
now.day

'2018-06-13 18:49:04'

2018

13

In [20]:
#string到日期
t_str = '2012-03-05 16:26:23'
d = datetime.datetime.strptime(t_str, '%Y-%m-%d %H:%M:%S')

d

datetime.datetime(2012, 3, 5, 16, 26, 23)

In [21]:
##timedelta 间隔
#可以通过timedelta.days、tiemdelta.seconds等获取相应的时间值。
#timedelta类的实例，支持加、减、乘、除等操作，所得的结果也是timedelta类的实例。比如：

year = datetime.timedelta(days=365)
year.days
year.min

365

datetime.timedelta(-999999999)

In [22]:
#1. 两个日期相差多少天。

d1 = datetime.datetime.strptime('2012-03-05 17:41:20', '%Y-%m-%d %H:%M:%S')
d2 = datetime.datetime.strptime('2012-03-02 17:41:20', '%Y-%m-%d %H:%M:%S')
delta = d1 - d2
delta.days

3

In [23]:
#2. 今天的n天后的日期。

now = datetime.datetime.now()
delta = datetime.timedelta(days=3)
n_days = now + delta
n_days.strftime('%Y-%m-%d %H:%M:%S')

'2018-06-16 18:49:05'

In [24]:
###日期范围遍历

###接受两个date类型参数, 含begin，end两天
def rangeDate(begin,end):
    list = []
    d=begin
    delta = datetime.timedelta(days=1)
    while d<=end:
        list.append(d.strftime("%Y-%m-%d"))
        d += delta
    return list    


begin = datetime.date(2018,2,1)
end = datetime.date(2018,2,24)
rangeDate(begin,end)

['2018-02-01',
 '2018-02-02',
 '2018-02-03',
 '2018-02-04',
 '2018-02-05',
 '2018-02-06',
 '2018-02-07',
 '2018-02-08',
 '2018-02-09',
 '2018-02-10',
 '2018-02-11',
 '2018-02-12',
 '2018-02-13',
 '2018-02-14',
 '2018-02-15',
 '2018-02-16',
 '2018-02-17',
 '2018-02-18',
 '2018-02-19',
 '2018-02-20',
 '2018-02-21',
 '2018-02-22',
 '2018-02-23',
 '2018-02-24']

In [30]:
today = time.strftime("%Y-%m-%d 01:00:00", time.localtime(time.time()))
print('today = %s'%today)
int(time.mktime(time.strptime(today, "%Y-%m-%d %H:%M:%S")))

today = 2018-06-13 01:00:00

1528822800

In [29]:
time.time()

1528887219.2515423