In [2]:
import sys
import os
import json
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
%matplotlib inline
import matplotlib
matplotlib.rcParams['font.sans-serif'] = 'WenQuanYi Micro Hei'
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# None vs NaN要点总结
在pandas中， 如果其他的数据都是数值类型， pandas会把None自动替换成NaN, 甚至能将s[s.isnull()]= None,和s.replace(NaN, None)操作的效果无效化。 这时需要用where函数才能进行替换。

None能够直接被导入数据库作为空值处理， 包含NaN的数据导入时会报错。

numpy和pandas的很多函数能处理NaN，但是如果遇到None就会报错。

None和NaN都不能被pandas的groupby函数处理，包含None或者NaN的组都会被忽略。


# 实践中，建议遵循以下三个原则即可

在用pandas和numpy处理数据阶段将None,NaN统一处理成NaN,以便支持更多的函数。
如果要判断Series,numpy.array整体的等值性，用专门的Series.equals,numpy.array函数去处理，不要自己用==判断 *　如果要将数据导入数据库，将NaN替换成None

nan 通常是float类型， None是obj类型； 数值方面，nan更合理

In [12]:
s_bad = pd.Series([1, None], dtype=object)
s_good = pd.Series([1, np.nan])
s_bad.dtype
s_good.dtype

dtype('O')

dtype('float64')

判断和条件：  is 判断是否为同一个对象,而’== ’ 是值判断，两个变量值是否相等。

  Python常规的判断，==，和is， 这对None是有效的
　而对，np.nan，只能用is

In [24]:
a=s_bad.get(1)
b=s_good.get(1)

In [25]:
a
if a:
    print("a")
if a==None:
    print('a==None')
if a is None:
    print('a is None')

a==None
a is None

In [29]:
b
if b:
    print("b")
if b == np.nan:
    print('b==nan')
if b is np.nan:      #！！！！！！！！这个不成立，非常坑       
    print('b is nan')
if np.isnan(b):
    print('isnan func work ok')

nan

b
isnan func work ok

# pd 判断缺失值、显示缺失值列、显示缺失行

In [28]:
df = pd.DataFrame(np.random.randn(10,6))
df.iloc[5,3] = np.nan
df.iloc[7:9,5] = np.nan
#判断是否存在缺失值
df.isnull()
#判断哪些列存在缺失值
df.isnull().any()
#只显示存在缺失值的行
df[df.isnull().values==True]

       0      1      2      3      4      5
0  False  False  False  False  False  False
1  False  False  False  False  False  False
2  False  False  False  False  False  False
3  False  False  False  False  False  False
4  False  False  False  False  False  False
5  False  False  False   True  False  False
6  False  False  False  False  False  False
7  False  False  False  False  False   True
8  False  False  False  False  False   True
9  False  False  False  False  False  False

0    False
1    False
2    False
3     True
4    False
5     True
dtype: bool

          0         1         2         3         4         5
5 -0.126630 -0.351490 -0.862018       NaN  0.272092  0.841488
7  1.001342 -2.643368  0.820221 -0.394062  0.578458       NaN
8 -0.697923  0.468286 -0.738834  0.951709  0.222619       NaN

In [1]:
a1 = False

In [2]:
a1 is False

True

In [3]:
a1 == False

True