# %操作符可用于格式化字符串操作
"I'm %s. I'm %d year old" 为我们的模板。
%s为第一个格式符，表示一个字符串。%d为第二个格式符，表示一个整数。
('Vamei', 99)的两个元素'Vamei'和99为替换%s和%d的真实值。 
在模板和tuple之间，有一个%号分隔，它代表了格式化操作。

%s    字符串 (采用str()的显示)
%r    字符串 (采用repr()的显示)
%c    单个字符
%b    二进制整数
%d    十进制整数
%i    十进制整数
%o    八进制整数
%x    十六进制整数
%e    指数 (基底写为e)
%E    指数 (基底写为E)
%f    浮点数
%F    浮点数，与上相同
%g    指数(e)或浮点数 (根据显示长度)
%G    指数(E)或浮点数 (根据显示长度)
 
%%    字符"%"

In [1]:
#tuple 占位替换
print("I'm %s. I'm %d year old" % ('Vamei', 99))

I'm Vamei. I'm 99 year old

In [2]:
a = "I'm %s. I'm %d year old" % ('Vamei', 99)
print(a)

I'm Vamei. I'm 99 year old

In [3]:
##字典格式的占位
print("I'm %(name)s. I'm %(age)d year old" % {'name':'Vamei', 'age':99})

I'm Vamei. I'm 99 year old

# 对齐：：
可以用如下的方式，对格式进行进一步的控制：

%[(name)][flags][width].[precision]typecode

(name)为命名

flags可以有+,-,' '或0。+表示右对齐。-表示左对齐。' '为一个空格，表示在正数的左侧填充一个空格，从而与负数对齐。0表示使用0填充。

width表示显示宽度

precision表示小数点后精度

In [4]:
print("%+10x" % 10)
print("%04d" % 5)
print("%6.3f" % 2.3)
print("%.*f" % (4, 1.2))

        +a
0005
 2.300
1.2000

# format 
python还有一个更强大的字符串处理函数  str.format()
它通过{}和:来代替%。
“映射”示例

In [5]:
b = "I'm {}. I'm {} year old".format ('Vamei', '99')
print(b)

I'm Vamei. I'm 99 year old

In [6]:
'{1},{0},{1}'.format('kzc',18)   # 索引选择  ###py2.6一定要指定索引，不能像上面空白，报错

'18,kzc,18'

In [7]:
'{name},{age}'.format(age=18,name='kzc') #关键字

'kzc,18'

# 三引号格式化

In [8]:
sql = """select  %(dateFrom) as c_date, user_id ,count(1)""" %{"dateFrom":'201809'}
print(sql)

select  '201809's c_date, user_id ,count(1)

In [10]:
sql2="""select  %s as c_date, user_id ,count(1)""" %('201809')
print(sql2)

select  201809 as c_date, user_id ,count(1)

# ##对齐

In [1]:
'{0:*>10}'.format(10)  ##右对齐
'{0:*<10}'.format(10)  ##左对齐
'{0:*^10}'.format(10)  ##居中对齐

'****10****'

In [4]:
year=2018
month=9
ym_str = (str(year)+ '{0:0>2}'.format(month))
ym_str

'201809'

In [8]:
#取整循环打印
a=220
if a%100 == 0:
    print(a)