In [1]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

使用0值表示沿着每一列或行标签\索引值向下执行方法

使用1值表示沿着每一行或者列标签模向执行对应的方法

Pandas保持了Numpy对关键字axis的用法，用法在Numpy库的词汇表当中有过解释：

轴用来为超过一维的数组定义的属性，二维数据拥有两个轴：第0轴沿着行的垂直往下，第1轴沿着列的方向水平延伸。

所以问题当中第一个列子 df.mean(axis=1)代表沿着列水平方向计算均值，而第二个列子df.drop(name, axis=1) 代表将name对应的列标签沿着水平的方向依次删掉。 
https://www.cnblogs.com/nyist-/p/7998326.html

[img:https://upload-images.jianshu.io/upload_images/2233157-b77105789e36c847.jpg?imageMogr2/auto-orient/strip%7CimageView2/2/w/652]

In [2]:
people=pd.DataFrame(np.random.randn(5,5),
                 columns=['a','b','c','d','e'],
                 index=['Joe','Steve','Wes','Jim','Travis'])
people

               a         b         c         d         e
Joe     0.647653 -0.885925  0.075076  1.122966 -0.225728
Steve  -1.021308  1.279263  1.111880  0.308020 -1.282129
Wes     1.325015  0.245652 -0.162821  0.093958 -0.053830
Jim    -0.521143  0.432093  1.268275  0.090796 -0.224709
Travis  1.027347  1.117664 -1.237098 -1.146591  0.070188

In [3]:
people.mean(axis=0) # 竖向，列平均
people.mean(axis=1) #横向， 行平均

a    0.291513
b    0.437750
c    0.211062
d    0.093830
e   -0.343241
dtype: float64

Joe       0.146808
Steve     0.079145
Wes       0.289595
Jim       0.209062
Travis   -0.033698
dtype: float64

In [4]:
people.copy().drop('a',axis=1)  ##删除了a列！！！！注意

               b         c         d         e
Joe    -0.885925  0.075076  1.122966 -0.225728
Steve   1.279263  1.111880  0.308020 -1.282129
Wes     0.245652 -0.162821  0.093958 -0.053830
Jim     0.432093  1.268275  0.090796 -0.224709
Travis  1.117664 -1.237098 -1.146591  0.070188

In [5]:
people.copy().drop('Joe',axis=0)  ## 删除了一行

               a         b         c         d         e
Steve  -1.021308  1.279263  1.111880  0.308020 -1.282129
Wes     1.325015  0.245652 -0.162821  0.093958 -0.053830
Jim    -0.521143  0.432093  1.268275  0.090796 -0.224709
Travis  1.027347  1.117664 -1.237098 -1.146591  0.070188