In [3]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [6]:
dft = pd.DataFrame(dict(A = np.random.rand(3),
                            B = 1,
                            C = 'foo',
                            D = pd.Timestamp('20010102'),
                            E = pd.Series([1.0]*3).astype('float32'),
                                        F = False,
                                        G = pd.Series([1]*3,dtype='int8')))
dft

          A  B    C          D    E      F  G
0  0.934673  1  foo 2001-01-02  1.0  False  1
1  0.669282  1  foo 2001-01-02  1.0  False  1
2  0.190734  1  foo 2001-01-02  1.0  False  1

In [9]:
dft.A.dtype

dtype('float64')

In [11]:
dft.dtypes
dft.get_dtype_counts()

A           float64
B             int64
C            object
D    datetime64[ns]
E           float32
F              bool
G              int8
dtype: object

bool              1
datetime64[ns]    1
float32           1
float64           1
int64             1
int8              1
object            1
dtype: int64

In [ ]:
##upcasting

In [14]:
#astype

dft = pd.DataFrame({'a': [1,2,3], 'b': [4,5,6], 'c': [7, 8, 9]})
##转多列
dft[['a','b']] = dft[['a','b']].astype(np.uint8)
dft.dtypes

a    uint8
b    uint8
c    int64
dtype: object

In [16]:
#转一列
dft1 = pd.DataFrame({'a': [1,0,1], 'b': [4,5,6], 'c': [7, 8, 9]})
dft1 = dft1.astype({'a': np.bool, 'c': np.float64})
dft1.dtypes

a       bool
b      int64
c    float64
dtype: object