https://www.kaggle.com/songwei82/break-into-data-science-01-pandas-tutorial/editnb

from kaggle case! 学习

**1. Data Input/Output**
  file,json,csv , html  sql
  
**2. Inspecting the Data**
  info() head() tail() shape describe()
  
  nunique() 取值个数
  unique()所有取值
**3. Cleaning the Data
    data = data.dropna()  去掉全null行
     data.dropna(axis=1) 去掉含有null的列；不常用
     
s.astype(float) # This will convert the datatype of the series to float *Please note that "s" here is a Pandas Series

s.replace(1,'one') # This will replace all values equal to 1 with 'one'

s.replace([1,3],['one','three']) #This will replace all 1 with 'one' and 3 with 'three'

data.rename(columns=lambda x: x + 1) #Mass renaming of columns

data.rename(columns={'oldname': 'new name'}) #Selective renaming

data.set_index('column_one') # This will change the index

data.rename(index=lambda x: x + 1) #Mass renaming of index

data.dropna(axis=1,thresh=n) #This will drop all rows have have less than n non null values

data.fillna(x) # This will replaces all null values with x

s.fillna(s.mean()) #This will replace all null values with the mean (mean can be replaced with almost any function from the below section) :

data.corr() #This will return the correlation between columns in a DataFrame

data.count() #This will return the number of non-null values in each DataFrame column

data.max() #This will return the highest value in each column

data.min() #This will return the lowest value in each column

data.sort_values([col1,col2],ascending=[True,False]) # This would sort values by col1 in ascending order then col2 in descending order

If you want to create a Pivot Table:
> data.pivot_table(index=col1,values=[col2,col3],aggfunc=mean) # This will create a pivot table that groups by col1 and calculates the mean of col2 and col3

Additional useful functions:
> data.groupby(col1).agg(np.mean) # This will find the average across all columns for every unique column 1 group

> data.apply(np.mean) # This will apply a function across each column

> data.apply(np.max, axis=1) # This will apply a function across each row

**4. Data Selection

data['State'].head()
data[['State', 'TotalPop']].head() 

data['State'].iloc[0] #Selection by position (On a Series) 
#Please note that in Python the first index is 0 - not 1


data['State'].loc[0] # Selection by index
#This method will let you select data based on the index number.. so s.loc[0] will be Alabama (first State, alphabetically)

#You can select the first row as the following:
data.iloc[0,:] # Please note that ":" means to include all.


data.iloc[:,1].head() # Second column

data.iloc[0,0]# First element of first column, and so on...