In [1]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# index转colum

In [3]:

normal_df = pd.DataFrame(np.arange(12).reshape((4,3)), columns=['green','blue','red'])
normal_df

d1=normal_df.copy()
d1['index1'] = normal_df.index
d1

normal_df.copy().reset_index()

   green  blue  red
0      0     1    2
1      3     4    5
2      6     7    8
3      9    10   11

   green  blue  red  index1
0      0     1    2       0
1      3     4    5       1
2      6     7    8       2
3      9    10   11       3

   index  green  blue  red
0      0      0     1    2
1      1      3     4    5
2      2      6     7    8
3      3      9    10   11

In [4]:
#reindex() is the fundamental data alignment method in pandas. 
#It is used to implement nearly all other features relying on label-alignment functionality.

s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
s

##有的索引值copy过来，没有的f赋值null
s.reindex(['e', 'b', 'f', 'd'])

a    0.658990
b    0.352491
c   -1.013801
d    0.056542
e   -1.141071
dtype: float64

e   -1.141071
b    0.352491
f         NaN
d    0.056542
dtype: float64

# align 对齐
将轴上的两个对象与每个轴索引的指定连接方法连接
The align() method is the fastest way to simultaneously align two objects. It supports a join argument (related to joining and merging):

join='outer': take the union of the indexes (default)

join='left': use the calling object’s index

join='right': use the passed object’s index

join='inner': intersect the indexes

It returns a #tuple# with both of the reindexed Series:

In [8]:
s = pd.Series(np.arange(5), index=['a', 'b', 'c', 'd', 'e'])
s
s1 = s[:4]
s1
s2 = s[1:]
s2

a    0
b    1
c    2
d    3
e    4
dtype: int64

a    0
b    1
c    2
d    3
dtype: int64

b    1
c    2
d    3
e    4
dtype: int64

In [15]:
s3=s1.align(s2)  ##tuple
s3

(a    0.0
 b    1.0
 c    2.0
 d    3.0
 e    NaN
 dtype: float64, a    NaN
 b    1.0
 c    2.0
 d    3.0
 e    4.0
 dtype: float64)

In [14]:
s4=s1.align(s2, join='inner')
s4

(b    1
 c    2
 d    3
 dtype: int64, b    1
 c    2
 d    3
 dtype: int64)