In [12]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

#series  s = pd.Series(data, index=index)

Here, data can be many different things:

a Python dict
an ndarray
a scalar value (like 5)

In [17]:
s=pd.Series(np.random.randn(4),index=['a','b',3,'c'])
s
s.index

a    0.855580
b   -1.159355
3   -1.419270
c   -0.908928
dtype: float64

Index(['a', 'b', 3, 'c'], dtype='object')

In [11]:
f=pd.Series(np.random.randn(5))
f
np.random.randn(5)

0    0.739642
1   -0.916736
2   -0.821935
3   -0.419455
4   -2.115067
dtype: float64

array([ 1.25679981,  0.86679661,  0.31980814, -0.07042562,  0.77922544])

In [12]:
##dict
d={'a':0,'b':1,'c':3}
pd.Series(d)

a    0
b    1
c    3
dtype: int64

In [13]:
#scalar From scalar value If data is a scalar value, 
#an index must be provided. The value will be repeated to match the length of index
#固定值填充一个长度的序列
pd.Series(5., index=['a','b','c'])

a    5.0
b    5.0
c    5.0
dtype: float64

## Series is ndarray-like
Series acts very similarly to a ndarray, 
and is a valid argument to most NumPy functions. 
However, things like slicing also slice the index.

Series is dict-like

A Series is like a fixed-size dict in that you can get and set values by index label:

In [20]:
s.describe()
s[0]
s[:3]
s[s>s.median()]
s[[2,3,1]]
np.exp(s)

count    4.000000
mean    -0.657993
std      1.030336
min     -1.419270
25%     -1.224334
50%     -1.034142
75%     -0.467801
max      0.855580
dtype: float64

0.85557992592375465

a    0.855580
b   -1.159355
3   -1.419270
dtype: float64

a    0.855580
c   -0.908928
dtype: float64

3   -1.419270
c   -0.908928
b   -1.159355
dtype: float64

a    2.352738
b    0.313688
3    0.241891
c    0.402956
dtype: float64

In [26]:
s['a']
s['3']=12
s

#>>> s['f']  KeyError: 'f'
#

s.get('f') #a missing label will return None or specified default:
s.get('f', np.nan)

0.85557992592375465

a     0.855580
b    -1.159355
3    -1.419270
c    -0.908928
3    12.000000
dtype: float64

nan

# DF
From dict of Series or dicts
From dict of ndarrays / lists¶
From structured or record array
From a list of dicts
From a dict of tuples

To construct a DataFrame with missing data, use np.nan for those values which are missing. Alternatively, you may pass a numpy.MaskedArray as the data argument to the DataFrame constructor, and its masked entries will be considered missing.

In [5]:
d = {'one' : pd.Series([1., 2., 3.], index=['a', 'b', 'c']), 'two' : pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
df

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [6]:
pd.DataFrame(d, index=['d', 'b', 'a'])

   one  two
d  NaN  4.0
b  2.0  2.0
a  1.0  1.0

In [7]:
pd.DataFrame(d, index=['d', 'b', 'a'], columns=['two', 'three'])

   two three
d  4.0   NaN
b  2.0   NaN
a  1.0   NaN

In [9]:
data = np.zeros((2,), dtype=[('A', 'i4'),('B', 'f4'),('C', 'a10')])
data[:] = [(1,2.,'Hello'), (2,3.,"World")]
pd.DataFrame(data)
pd.DataFrame(data, index=['first', 'second'])

   A    B         C
0  1  2.0  b'Hello'
1  2  3.0  b'World'

        A    B         C
first   1  2.0  b'Hello'
second  2  3.0  b'World'

In [10]:
#list
data2 = [{'a': 1, 'b': 2}, {'a': 5, 'b': 10, 'c': 20}]
pd.DataFrame(data2)

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [15]:
ddf=pd.DataFrame({('a', 'b'): {('A', 'B'): 1, ('A', 'C'): 2},
                  ('a', 'a'): {('A', 'C'): 3, ('A', 'B'): 4},
                  ('a', 'c'): {('A', 'B'): 5, ('A', 'C'): 6},
                  ('b', 'a'): {('A', 'C'): 7, ('A', 'B'): 8},
                  ('b', 'b'): {('A', 'D'): 9, ('A', 'B'): 10}})
ddf

       a              b
       a    b    c    a     b
A B  4.0  1.0  5.0  8.0  10.0
  C  3.0  2.0  6.0  7.0   NaN
  D  NaN  NaN  NaN  NaN   9.0

In [18]:
#Column selection, addition, deletion¶
ddf['a']
ddf['a']['a'] * ddf['a']['b']
ddf['a']['b'] > 1.5

       a    b    c
A B  4.0  1.0  5.0
  C  3.0  2.0  6.0
  D  NaN  NaN  NaN

A  B    4.0
   C    6.0
   D    NaN
dtype: float64

A  B    False
   C     True
   D    False
Name: b, dtype: bool

In [ ]:
#Columns can be deleted or popped like with a dict:
del df['two']
three = df.pop('three')

# Assigning New Columns in Method Chains
Inspired by dplyr’s mutate verb, DataFrame has an assign() method that allows you to easily create new columns that are potentially derived from existing columns.
assign always returns a copy of the data, leaving the original DataFrame untouched.

In [ ]:
iris = pd.read_csv('data/iris.data')
iris.head()
(iris.assign(sepal_ratio = iris['SepalWidth'] / iris['SepalLength']).head()

# Indexing / Selection
The basics of indexing are as follows:

Operation	Syntax	Result
Select column	df[col]	Series
Select row by label	df.loc[label]	Series
Select row by integer location	df.iloc[loc]	Series
Slice rows	df[5:10]	DataFrame
Select rows by boolean vector	df[bool_vec]	DataFrame

# Data alignment and arithmetic
Data alignment between DataFrame objects automatically align on both the columns and the index (row labels). Again, the resulting object will have the union of the column and row labels.

In [ ]:
#Transposing
#df[:5].T

#df.T.dot(df)  实现了matrix 乘法

In [ ]:
#print Very large DataFrames will be truncated to display them in the console. 
#You can also get a summary using info().